COMPOSE_PROJECT_NAME=bahtflow
POSTGRES_DB=bahtflow
POSTGRES_USER=bahtflow
POSTGRES_PASSWORD=bahtflow_dev_password
POSTGRES_PORT=5432
BAHTFLOW_AIRFLOW_IMAGE_NAME=bahtflow-airflow:3.3.1
AIRFLOW_UID=50000
AIRFLOW_API_PORT=8080
AIRFLOW_API_SECRET_KEY=bahtflow_local_api_secret_change_me
AIRFLOW_JWT_SECRET=bahtflow_local_jwt_secret_change_me_use_at_least_64_bytes_for_hs512_dev_only
AIRFLOW_FERNET_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
BAHTFLOW_GCP_PROJECT=your-gcp-project-id
BAHTFLOW_GCS_BUCKET=your-globally-unique-bahtflow-bucket
BAHTFLOW_GCP_LOCATION=asia-southeast1
BAHTFLOW_RUNTIME_SERVICE_ACCOUNT=bahtflow-runtime@your-gcp-project-id.iam.gserviceaccount.com
GOOGLE_ADC_HOST_PATH=C:/Users/YOUR_USER/AppData/Roaming/gcloud/application_default_credentials.json
